<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="tw.noah.utils.log4j2">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%logger{1.}.%t] - %msg%n"/>
    </Console>

    <SlackAppender name="slack" webhook="${yaml:log4j2.slack.webHook}"
      appName="SlackMainApp"
      errorChannel="${yaml:log4j2.slack.error.channel}"
      warnChannel="${yaml:log4j2.slack.warn.channel}"
      infoChannel="${yaml:log4j2.slack.info.channel}"
      environment="dev"
      frequency="3"
    >
      <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%logger{1.}.%t] - %msg%n"/>
    </SlackAppender>
  </Appenders>
  <Loggers>

    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="slack" level="ERROR" />
    </Root>
  </Loggers>
</Configuration>